<div class="acesso-negado-sq">
	<div class="container border">
		<div class="acesso-negado-bloco-sq">
			<div class="acesso-negado-mensagem-sq">
				Desculpe-nos,<br>
				mas você não tem permissão<br>
				de acesso a esta área do site.
			</div>
		</div>
	</div>
</div>

<div>
	<div class="row acesso-negado-sq-titulo">
		<div style="margin:40px 0 20px">Quero ter acesso!</div>
		
		<div>
			<img src="/wp-content/themes/academy/images/exponencial-simbolo.png" />
		</div>
	</div>
	
	<div class="row">
		<div>
			<div>
				<p>O acesso a certas funcionalidades de nosso site é exclusivo para assinantes do Sistema de Questões e alunos do Coaching do Exponencial Concursos.<br>
				Veja as vantagens de assinar nosso Sistema de Questões:</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="sq-vantagem">
			<div>
				<span class="sq-vantagem-label"></span>
				<span class="sq-vantagem-usuario text-align-center sq-vantagem-titulo">Usuário</span>
				<span class="sq-vantagem-assinante text-align-center sq-vantagem-titulo">Assinante</span>
			</div>
			
			<div>
				<span class="sq-vantagem-label fundo-cinza-escuro">Resolução ilimitada de questões (*).</span>
				<span class="sq-vantagem-usuario text-align-center fundo-vermelho-escuro"><img src="/wp-content/themes/academy/images/sq-nao-contempla.png"></span>
				<span class="sq-vantagem-assinante text-align-center fundo-verde-escuro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
			</div>
			
			<div>
				<span class="sq-vantagem-label fundo-cinza-claro">Participe do fórum de cada questão.</span>
				<span class="sq-vantagem-usuario text-align-center fundo-verde-claro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
				<span class="sq-vantagem-assinante text-align-center fundo-verde-claro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
			</div>
			
			<div>
				<span class="sq-vantagem-label fundo-cinza-escuro">Impressão ilimitada de questões.</span>
				<span class="sq-vantagem-usuario text-align-center fundo-verde-escuro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
				<span class="sq-vantagem-assinante text-align-center fundo-verde-escuro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
			</div>
			
			<div>
				<span class="sq-vantagem-label fundo-cinza-claro">Estatísticas de desempenho.</span>
				<span class="sq-vantagem-usuario text-align-center fundo-vermelho-claro"><img src="/wp-content/themes/academy/images/sq-nao-contempla.png"></span>
				<span class="sq-vantagem-assinante text-align-center fundo-verde-claro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
			</div>
			
			<div>
				<span class="sq-vantagem-label fundo-cinza-escuro">Comentar questões.</span>
				<span class="sq-vantagem-usuario text-align-center fundo-verde-escuro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
				<span class="sq-vantagem-assinante text-align-center fundo-verde-escuro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
			</div>
			
			<div>
				<span class="sq-vantagem-label fundo-cinza-claro">Ler comentários de alunos.</span>
				<span class="sq-vantagem-usuario text-align-center fundo-verde-claro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
				<span class="sq-vantagem-assinante text-align-center fundo-verde-claro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
			</div>
			
			<div>
				<span class="sq-vantagem-label fundo-cinza-escuro">Ler comentários dos professores.</span>
				<span class="sq-vantagem-usuario text-align-center fundo-vermelho-escuro"><img src="/wp-content/themes/academy/images/sq-nao-contempla.png"></span>
				<span class="sq-vantagem-assinante text-align-center fundo-verde-escuro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
			</div>
			
			<div>
				<span class="sq-vantagem-label fundo-cinza-claro">Descontos na aquisição de simulados.</span>
				<span class="sq-vantagem-usuario text-align-center fundo-vermelho-claro"><img src="/wp-content/themes/academy/images/sq-nao-contempla.png"></span>
				<span class="sq-vantagem-assinante text-align-center fundo-verde-claro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
			</div>
			
			<div>
				<span class="sq-vantagem-label fundo-cinza-escuro">Cadernos de questões.</span>
				<span class="sq-vantagem-usuario text-align-center fundo-vermelho-escuro"><img src="/wp-content/themes/academy/images/sq-nao-contempla.png"></span>
				<span class="sq-vantagem-assinante text-align-center fundo-verde-escuro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
			</div>

			<div>
				<span class="sq-vantagem-label fundo-cinza-claro">Cadernos compartilhados.</span>
				<span class="sq-vantagem-usuario text-align-center fundo-vermelho-claro"><img src="/wp-content/themes/academy/images/sq-nao-contempla.png"></span>
				<span class="sq-vantagem-assinante text-align-center fundo-verde-claro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
			</div>

			<div>
				<span class="sq-vantagem-label fundo-cinza-escuro">Questões favoritas.</span>
				<span class="sq-vantagem-usuario text-align-center fundo-vermelho-escuro"><img src="/wp-content/themes/academy/images/sq-nao-contempla.png"></span>
				<span class="sq-vantagem-assinante text-align-center fundo-verde-escuro"><img src="/wp-content/themes/academy/images/sq-contempla.png"></span>
			</div>
			
			<div style="margin-top: 20px">(*) Para usuário não-assinante: limitado a 100 questões por dia.</div>
		</div>
	</div>
	<div class="row">
		<div>
			<div style="margin: 50px 170px; text-align: right">
				<a href="/sistema-de-questoes/#assinatura">
					<img src="/wp-content/themes/academy/images/assinarsq.png" />
				</a>&nbsp;
				<a href="/sistema-de-questoes/ ">
					<img src="/wp-content/themes/academy/images/saibamaissq.png" />
				</a>
			</div>
		</div>
	</div>
</div>